<div class="container">
      <div class="row">
          <%= render 'books/sidebar', books: @books, book: @book,user: @user %>
        <div class="col-lg-9">

          <h1>Books</h1>
          <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th><th>Title</th><th>Opinion</th>
                  </tr>
                </thead>
                <tbody>
                	  <% @books.each do |book| %>
                      <tr>
                        <td><%= attachment_image_tag book.user, :image, :fill, 60, 60, fallback: "no_image.jpg", size: '60x60' %></td>
                        <td><%= book.title %></td>
                        <td><%= book.opinion %></td>
                      </tr>
                	  <% end %>
                </tbody>
          </table>
        </div>
      </div>
</div>
